<html>
<head>
    <title>Flask-SmartLight Interface</title>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/jquery.simplecolorpicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1><strong>Flask-SmartLight</strong> Control&nbsp;panel</h1>
                <div class="description">
                    <p>
                        Control your Blinkstick from anywhere !
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <div class="text-center">
                        <select name="colorpicker">
                          <option value="#FF0000">Red</option>
                          <option value="#FF5A00">Red orange</option>
                          <option value="#FFAD00">Orange</option>
                          <option value="#FFDE00">Yellow</option> <br />
                          <option value="#D0FF00">Light green</option>
                          <option value="#45FF00">Bold green</option>
                          <option value="#00B945">Dark green</option>
                          <option value="#002ED0">Deep Blue</option> <br />
                          <option value="#3A0BF9">Blue</option>
                          <option value="#911DF1">Purple</option>
                          <option value="#C34CEF">Violet</option>
                          <option value="#EE82EE">Pink</option>
                        </select>
                        <hr />
                        <span id="animations" class="inline">
                            <a href="{{ url_for('main.animation_random') }}" class="animation"><img src="{{ url_for('static', filename='img/random.png') }}" alt="Random"/></a>
                            <a href="{{ url_for('main.animation_fire') }}" class="animation"><img src="{{ url_for('static', filename='img/fire.png') }}" alt="Fire"/></a>
                            <a href="{{ url_for('main.animation_strobe') }}" class="animation"><img src="{{ url_for('static', filename='img/strobe.png') }}" alt="Strobe"/></a>
                            <a href="{{ url_for('main.turn_off') }}" class="animation"><img src="{{ url_for('static', filename='img/off.png') }}" alt="Off"/></a>
                        </span>
                        <hr />
                        <div class="alert-area center-block">
                            <div  class="alert alert-success" role="alert"><span id="message">Select a color</span></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>



<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.simplecolorpicker.js') }}"></script>
<script>
    $('select[name="colorpicker"]').simplecolorpicker();
    $('select[name="colorpicker"]').simplecolorpicker({
        picker: true
    }).on('change', function() {
        $('#message').fadeOut( 100 );

        var url = '{{ url_for('main.set_color_hex', hex='') }}' + $( this ).val().replace('#','');
        $.getJSON( url, function(data) {
            var text = data['message'];
            $('#message').text(text);
            $('#message').fadeIn( 100 );
        });
    });

    $('.animation').click( function( event ) {
        event.preventDefault();

        var url = $( this ).attr('href');

        $.getJSON( url, function(data) {
            var text = data['message'];
            $('#message').fadeOut( 100 );
            $('#message').text(text);
            $('#message').fadeIn( 100 );
        });

    });
</script>
</body>
</html>