/*
* Custom style for colorpicker
*/

.simplecolorpicker span {
  width: 40px;
  height: 40px;
  margin: 2px;
}

.simplecolorpicker {
  max-width: 190px;
}
.alert-area {
  width: 172px;
}

hr {
width: 120px;
}

#animations {
width: 172px;
}

#animations > a > img {
  width: 40px;
  height: 40px;
  margin: 0px;
  display: inline-block;
}

#animations > a {
  margin: 0px;
  padding: 0px;
}